[submodule "M2M/QNICE"]
	path = M2M/QNICE
	url = git@github.com:rjaremczak/MiSTer2MEGA65.git
	branch = master
[submodule "CORE/Arcade-GnG_MiSTer"]
	path = CORE/Arcade-GnG_MiSTer
	url = git@github.com:rjaremczak/Arcade-GnG_MiSTer.git
	branch = master
